#pdfjs_viewer-full_no_download {
  .openFile {
    display: none;
  }

  .bookmark {
    display: none;
  }

  // All of the content from full, minus download/print options
  .download {
    display: none;
  }

  .print {
    display: none;
  }
}
